/* 
    Document   : cscreen
    Created on : February, 2014, 10:10:25 AM
    Author     : Ryan Schumann
   Description:
        Style all screen user agents

 ++++ CSS Selectors +++++
Class selector = .name - use in a web page multiple times
ID selector = #name - use in a web once only per page
Element selector = p or body or header
Attribute selector = img[src="logo.jpg"]
Pseudo-class selector = a:hover or body p:nth-child[1]
Context selector = body div p a
*/

html {
	position: relative;
	min-height: 100%
}

body {
	margin: 0 0 100px; /* bottom = footer height */
	padding-left: 100px;
	padding-right: 30px;
	/*background-color: aliceblue;*/
	background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 79px,  #C65F58 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	text-align: center;
}

#main_nav ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

#main_nav li
{
border-right: solid;
border-color: white;
border-width: 2px;
float:left;
}

#main_nav a:visited{
color: #FFFFFF;
}
#main_nav a:link
{
display:block;
width:120px;
font-weight:lighter;
color:#FFFFFF;
background-color:#282828;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}

#main_nav a:hover,a:active
{
background-color:#54cdf1;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

#content a:link
{
color: blue;
}

#content a:visited
{
color: purple;
}
 
 /*This is for the header*/

#press ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

#press li
{
border: solid;
border-color: white;
border-width: 2px;
float:left;
}

#press a:visited{
color: #FFFFFF;
}
#press a:link
{
display:block;
width:100px;
font-weight:lighter;
color:#FFFFFF;
background-color:#008080;
text-align:center;
padding:2px;
text-decoration:none;
text-transform:uppercase;
}

#press a:hover,a:active
{
background-color:#54cdf1;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/* This section is for images */
.large-images  {
	background-color: white;
	padding: 5px;
	margin: 10px;
	width: 300px;
	border: 1px solid #778899;
	-moz-box-shadow: 0 0 10px #778899;
	-webkit-box-shadow: 0 0 10px #778899;
	box-shadow: 0 0 10px #778899;
}